@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

body{
    background-color: #EAF2E3;
    font-family: "Josefin Sans", sans-serif;
}

h1,h2,h3,h4,h5,h6 {
    font-family: "Josefin Sans", sans-serif;
}

h1{
    font-size: 36px;
    color: #F25757;
}

h2{
    font-size: 24px;
    color: #f2cd60;
}

h3,h4{
    font-size: 18px;
    color: #61e8e1;
}

p{
    font-size: 16px;
    color: #424242; 
    margin: 10px;
}

ol{
    list-style-type: lower-roman;
}

ul{
    list-style-type: square;
}

li{
    margin: 10px;
}

#users {
    border-collapse:collapse;
    width: 100%;
    border:3px;
    color: #000;
}

#users td,#users th{
    border: 1px solid #ddd;
    padding: 8px;
}

#users tr:nth-child(even){
    background-color: #f2f2f2;
}

#users tr:hover{
    background-color: #ddd;
}

#users th{
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #5b75d3;
    color: white;
}